@import url(https://fontshub.pro/font/web-download/5ec8cb9d08849805af048f7c/Nuckle-Medium);

body {
  font-family: "Nuckle", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;
  --backgroundPrimary: #0061df;

  --padding: 0 185px;
  --width: 1440px;
}
